html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
}

.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    background-color: #55ACEE;
    border-color: #55ACEE;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand img {
    display: inline;
    margin-right: 10px;
}
.navbar-default .navbar-brand:hover {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover {
    border-color: #ffffff;
}

#api_rosetta_code_filters {
    background-color: #292F33;
    border: 0px;
    color: #ffffff;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#api_rosetta_code_filters .col-sm-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#api_rosetta_code_filters .col-sm-4 .code-filter img {
    display: inline;
    margin-right: 10px;
    vertical-align: middle;
}
#api_rosetta_code_filters .col-sm-4 .code-filter p {
    font-size: 20pt;
}
#api_rosetta_code_filters .col-sm-4 .code-filter .filter-select {
    width: 180px;
    font-size: 15px;
    text-align: left;
}
.chosen-container {
    font-size: 15px;
    text-align: left;
}

img.inline {
    display: inline;
    margin-right: 10px;
    vertical-align: middle;
}

#filter-result {
    margin-right: 10px;
    margin-left: 10px;
}
#filter-result ul {
   list-style-image: url('../img/code_small.png');
   margin-left: 0;
}
#filter-result li {
    font-size: 20px;
}

#filter-result .code-options {
    display: inline;
    width: 70px;
    text-align: center;
    margin-left: 10px;
}
#filter-result .code-options img {
    display: inline;
    margin-right: 10px;
    vertical-align: middle;
}
#filter-result .readme-container {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    display: none;
    border: 1px solid #000000;
    padding: 5px;
}
#filter-result .readme-container ul {
    list-style-type: disc;
    list-style-image: none;
    margin-left: 10px;
}
#filter-result .readme-container li {
    font-size: 13px;
}
#filter-result .readme-container h1 {
    font-size: 18px;
}
#filter-result .readme-container h2 {
    font-size: 16px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #292F33;
}
.footer p {
  color: #FFFFFF;
  margin: 10px;
  font-size: 15px;
}
.footer a {
  color: #55ACEE;
}
